@media only screen and (max-width:576px){
    p.down{
      font-size: 1.5em;
    }
}
@media only screen and (min-width:577px){
  p.down{
    font-size: 2em;
  }
}


img.globe{
    width: 60px;
    z-index: 3; 
    display: inline-block;
}

h1{
    display: inline-block;
}
h1 span{
  color: rgb(38, 102, 156);
  display: inline-block;
}
div.gradient{
  background: #007bff linear-gradient(180deg,#268fff,#007bff) repeat-x!important;
}
p.down{
  padding-top: 10px;
  padding-bottom: 6px;
}

img.publicity{
  background-image: url(/images/ad_background.png);
  width: 139px;
  height: 182px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img.test2{
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
div.topRight{
  width: 300px;
  display: inline-block;
  vertical-align: top;    
}    
div.topRight a{
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  color: #527998;
}
div.topRight img.test{
  margin-left: 3px;
  margin-top: 3px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
div.topRight span{
  margin: 0px;
  vertical-align: top;
}
div.phoneNum{
  background: no-repeat;
  background-size: 40px auto;
  background-position:10px 13px;
  background-image: url("images/phone.png");
}
div.phoneNum p{
  margin: 5px;    
  margin-left: 50px;
  font-size: x-small;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: right;
}
div.phoneNum p.number{
  font-size: x-large;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  color: rgb(31, 197, 222);    
  font-weight: bold;
}

div.banner{
  height: 130px;
  background: no-repeat;
  background-size: 120px auto;
  background-position: 10px 10px;
  background-image: url("images/html.png"); 
}
div.banner a{
  color: rgb(0,135,221);
}
div.banner p, div.banner h2{    
  padding-left: 140px;
  vertical-align: top; 
  margin-top: 5px;   
}